name: "Review Lab"
on:
  # pull_request:
  #   branches: [ master ]
  workflow_dispatch:

jobs:
  deploy-to-review-lab:
    if: github.actor != 'dependabot[bot]'
    permissions:
      contents: write

    # no environment secrets or protection rules so far
    environment:
      name: review-lab
      url: https://hashtagchris.github.io/BinaryJsonFormatter
    
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
